<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oposiciones Mallorca</title>
</head>
<body>
    <h1>{{ _('Bienvenido a Oposiciones Mallorca') }}</h1>
    <p>{{ _('Esta es una web para ayudarte a preparar tus oposiciones.') }}</p>
    
    <button onclick="window.location.href='/?lang=es'">Castellano</button>
    <button onclick="window.location.href='/?lang=ca'">Català</button>
</body>
</html>
